{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<!-- leverage index.html -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        {% for history in histories %}
            <tr>
                <td>{{ history.symbol }}</td>
                <td>{{ history.shares }}</td>
                <td>{{ history.price }}</td>
                <td>{{ history.transacted }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}